@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

* {
    transition: all 0.2s ease;
    line-height: 1.9;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    color: #fff;
    background-color: rgb(88, 14, 14);
    background: url(../images/back.jpeg);
    background-repeat: no-repeat;
    font-family: 'Urbanist', sans-serif;
}

.container {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: rgb(148, 148, 10);
}

a:active {
    color: rgb(148, 148, 10);
}

.active {
    color: rgb(148, 148, 10);
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
    background-color: #000;
    opacity: 0.7;
    color: #fff;
}

header ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

header ul li {
    list-style: none;
    padding: 10px 20px;
}

header ul li a {
    color: #fff;
}

.content {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing  {
    max-width: 85vw;
    background-color: #000;
    opacity: 0.7;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing img {
    max-width: 200px;
}

.landing button {
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: rgb(10, 10, 100);
    opacity: 1;
    color: white;
}

footer {
    width: 100%;
    background-color: #000;
    opacity: 0.7;
    height: 5vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #fff;
  }
  .dropdown-content a:hover {color: rgb(148, 148, 10);}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  form {
      width: 100%;
      text-align: start;
  }

  form input, form textarea {
      width: 100%;
      margin-bottom: 20px;
      background-color: transparent;
      border: 0;
      border-bottom: 2px solid #fff;
      outline: 0;
      color: #fff;
      font-family: inherit;
  }
  form input:hover, form textarea:hover {border-bottom: 2px solid rgb(148, 148, 10);}

  form input:active, form textarea:active {
    border-bottom: 2px solid rgb(148, 148, 10);
  }

  strong {
      color: rgb(148, 148, 10);
  }